*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column; /* Устанавливаем направление для flex контейнера */
    height: 200vh;
    width: 100%;
    background: rgb(255, 255, 255);
}

main {
    flex: 1; /* Основной контент занимает доступное пространство */
    display: flex;
    flex-direction: column;
}

.s1{
    text-align: center;
}
.s2{
    text-align: center;
    color: black;
    text-decoration: none;
}